label.label {
  font-weight: 300;
  color: var(--color-grey);
}

.field + .field {
  margin-top: 2rem;
}

.quiz .input {
  text-align: center;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px #555 solid;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  // text-align: center;
}

.input:active, .input:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
}

.unit {
  font-weight: 300;
  color: var(--color-grey);
  margin-bottom: -0.3em;
}
